#enable_html_escaping()
<html>
  <head>
    <title>Edit Multi Cascade Select Options</title>
    <meta name="decorator" content="atl.admin">
    <meta name="fieldconfigid" content="$!action.getFieldConfigId()">
    <meta name="currentfocus" content="$!action.getFocus()">
        $!webResourceManager.requireResource("jira.webresources:autocomplete")    
    $!webResourceManager.requireResource("com.dionetechnology.jira.plugins.multicascadeselect:multicascadeselect-resources")
  </head>
  
<body>

<table class="jiraform jirapanel  maxWidth">
<tbody><tr>
    <td class="jiraformheader">
    <h3 class="formtitle">
        
		 Edit Options for Custom Field : <strong>$!action.getCustomField().getName()</strong> </h3>

    </td>
</tr>
	<tr>
		<td class="instructions">
		<a id="child" name="child"></a>
		<h4>
           Child Select Lists:
            </h4>
            <p>
            Manage the child select selects in this section. The child select lists will apply to <b>all parent</b> select lists in the custom field. 
            </p>
            <p>HTML (e.g.: &lt;b&gt;My Option&lt;/b&gt;) may be entered in option values. Be sure to 'escape' literal &lt;'s with &amp;lt; and &gt;'s with &amp;gt; (e.g.:&lt;b&gt;Apples &amp;lt; Oranges&lt;/b&gt;)</p>
        <ul class="optionslist">
                <li><a title="Sort options alphabetically" href="EditMultiCascadeSelect!ControllerSort.jspa?fieldConfigId=$!action.getFieldConfigId()&amp;atl_token=${atl_token}&amp;selectedParentOptionId=$!action.selectedParentOptionId&amp;templateView=true">Sort options alphabetically</a></li>
            <li><a title="View Custom Field Configuration" href="ConfigureCustomField!default.jspa?customFieldId=$!action.getCustomField().getIdAsLong()">View Custom Field Configuration</a></li>
        </ul>
        </td>
	</tr>
	<tr>
    <td class="jiraformbody">
    <form name="configureOption" action="ConfigureCustomFieldOptions.jspa" method="post">
    <table class="aui aui-table-rowhover">
        <thead>
            <tr>
                <th width="1%">
                    Position
                </th>
                <th>
                    Option
                </th>
                #if($!action.getControllerOptions().size() > 1)
                    <th class="cell-type-collapsed">
                        Order
                    </th>
                    <!--  
                    <th class="cell-type-collapsed">
                        Move to Position
                    </th>
                    -->
                #end
                <th>
                    Operations
                </th>
            </tr>
        </thead>
        <tbody>
            #foreach ($option in $!action.getControllerOptions())
            <tr class="">
                <td>
                    ${velocityCount}.
                </td>
                <td>
                    <b>$!option.getCustomValue()</b>
                </td>
                #if($!action.getControllerOptions().size() > 1)
                    <th class="cell-type-collapsed">
                        #if($!option.getSequence()!=0)
                            <a id="moveToFirst_$!option.getID()" href="EditMultiCascadeSelect!controllerMoveToFirst.jspa?fieldConfigId=$!action.getFieldConfigId()&amp;atl_token=${atl_token}&amp;controllerId=$!option.getID()&amp;controllerValue=$!option.getCustomValue()&amp;templateParent=$!action.getSelectedParentOption().getOptionId()&amp;templateView=true&amp;focus=child"><img src="/images/icons/arrow_first.gif" border="0" width="16" height="16" title="Move this option to first position"></a>
                            <a id="moveUp_$!option.getID()" href="EditMultiCascadeSelect!controllerMoveUp.jspa?fieldConfigId=$!action.getFieldConfigId()&amp;atl_token=${atl_token}&amp;controllerId=$!option.getID()&amp;controllerValue=$!option.getCustomValue()&amp;templateParent=$!action.getSelectedParentOption().getOptionId()&amp;templateView=true&amp;focus=child"><img src="/images/icons/arrow_up_blue.gif" border="0" width="16" height="16" title="Move this option up"></a>
                        
                        #end
                        #if($!option.getSequence()+1!=$!action.getControllerOptions().size())
                            <a id="moveDown_$!option.getID()" href="EditMultiCascadeSelect!controllerMoveDown.jspa?fieldConfigId=$!action.getFieldConfigId()&amp;atl_token=${atl_token}&amp;controllerId=$!option.getID()&amp;controllerValue=$!option.getCustomValue()&amp;templateParent=$!action.getSelectedParentOption().getOptionId()&amp;templateView=true&amp;focus=child"><img src="/images/icons/arrow_down_blue.gif" border="0" width="16" height="16" title="Move this option down"></a>
                            <a id="moveToLast_$!option.getID()" href="EditMultiCascadeSelect!controllerMoveToLast.jspa?fieldConfigId=$!action.getFieldConfigId()&amp;atl_token=${atl_token}&amp;controllerId=$!option.getID()&amp;controllerValue=$!option.getCustomValue()&amp;templateParent=$!action.getSelectedParentOption().getOptionId()&amp;templateView=true&amp;focus=child"><img src="/images/icons/arrow_last.gif" border="0" width="16" height="16" title="Move this option to last position"></a>
                    	#end
                    </th>
                    
                #end
                <td class="cell-type-collapsed">
                    <ul class="operations-list">
                        <li><a id="edit_$!option.getID()" href="EditMultiCascadeSelectEditController!controllerEdit.jspa?fieldConfigId=$!action.getFieldConfigId()&amp;atl_token=${atl_token}&amp;selectedParentOptionId=$!option.getParentOption().getOptionId()&amp;controllerId=$!option.getID()&amp;controllerValue=$!option.getCustomValue()&amp;templateParent=$!action.getSelectedParentOption().getOptionId()&amp;templateView=true&amp;focus=child">Edit</a></li>
                        <li><a id="del_$!option.getID()" href="EditMultiCascadeSelect!controllerRemove.jspa?fieldConfigId=$!action.getFieldConfigId()&amp;atl_token=${atl_token}&amp;selectedParentOptionId=$!option.getParentOption().getOptionId()&amp;controllerId=$!option.getID()&amp;controllerValue=$!option.getCustomValue()&amp;templateParent=$!action.getSelectedParentOption().getOptionId()&amp;templateView=true&amp;focus=child">Delete</a></li>
                        #if ($option.getDisabled()=='true')
                            <li><a id="enable_$!option.getID()" href="EditMultiCascadeSelect!controllerEnable.jspa?fieldConfigId=$!action.getFieldConfigId()&amp;atl_token=${atl_token}&amp;selectedParentOptionId=$!option.getParentOption().getOptionId()&amp;controllerId=$!option.getID()&amp;controllerValue=$!option.getCustomValue()&amp;templateParent=$!action.getSelectedParentOption().getOptionId()&amp;templateView=true&amp;focus=child">Enable</a></li>
						#else
                        	<li><a id="disable_$!option.getID()" href="EditMultiCascadeSelect!controllerDisable.jspa?fieldConfigId=$!action.getFieldConfigId()&amp;atl_token=${atl_token}&amp;selectedParentOptionId=$!option.getParentOption().getOptionId()&amp;controllerId=$!option.getID()&amp;controllerValue=$!option.getCustomValue()&amp;templateParent=$!action.getSelectedParentOption().getOptionId()&amp;templateView=true&amp;focus=child">Disable</a></li>
						#end
						#if ($!option.getRequired()=='true')
                        	<li><a id="optional_$!option.getID()" href="EditMultiCascadeSelect!controllerOptional.jspa?fieldConfigId=$!action.getFieldConfigId()&amp;atl_token=${atl_token}&amp;selectedParentOptionId=$!option.getParentOption().getOptionId()&amp;controllerId=$!option.getID()&amp;controllerValue=$!option.getCustomValue()&amp;templateParent=$!action.getSelectedParentOption().getOptionId()&amp;templateView=true&amp;focus=child">Optional</a></li>
						#else
                            <li><a id="required_$!option.getID()" href="EditMultiCascadeSelect!controllerRequired.jspa?fieldConfigId=$!action.getFieldConfigId()&amp;atl_token=${atl_token}&amp;selectedParentOptionId=$!option.getParentOption().getOptionId()&amp;controllerId=$!option.getID()&amp;controllerValue=$!option.getCustomValue()&amp;templateParent=$!action.getSelectedParentOption().getOptionId()&amp;templateView=true&amp;focus=child">Required</a></li>
						#end
                    </ul>
                </td>
            </tr>
            #end
        
            <tr class="totals">
                <td colspan="2">&nbsp;
                    <input type="hidden" name="id" value="">
                </td>
                
                    <td colspan="2">&nbsp;</td>
                
            </tr>
        </tbody>
    </table>
    </form>
<div class="module">
    <div class="mod-content">
    
<form action="EditMultiCascadeSelect!ControllerAdd.jspa" method="post" name="jiraform" onsubmit="if (this.submitted) return false; this.submitted = true; return true">
	
	<table class="jiraform maxWidth">

	<tbody><tr class="titlerow">
		<td colspan="2" class="jiraformheader">
        
        <h4 class="formtitle">Add New Child Select field </h4>
        </td>
	</tr>

    <tr class="hidden"><td colspan="2"></td></tr>
#if ($action.getErrors().get('templateAddValue'))
      <tr>
		<td class="fieldLabelArea formErrors">&nbsp;</td>
		<td class="fieldValueArea formErrors">
		<span class="errMsg">$textutils.htmlEncode($action.getErrors().get('templateAddValue'))</span>
		</td>
		</tr>  	
	<script language="javascript" type="text/javascript">
	AJS.toInit(function () {
	
	AJS.$("body").scrollTop(AJS.$("#child").offset().top);
	AJS.$("childadd").focus();

	});
	</script>
#end
	<tr>

<td class="fieldLabelArea #if ($action.getErrors().get('templateAddValue')) formErrors#end">
		Add Value
		</td>
	<td class="fieldValueArea #if ($action.getErrors().get('templateAddValue')) formErrors#end">

<input id="childadd" type="text" name="controlValue" value="$!action.getControlValue()">
	</td>
</tr>
                    
<tr class="hidden"><td>
<input type="hidden" id="fieldConfigId" name="fieldConfigId" value="$!action.getFieldConfigId()">
</td></tr>

<tr class="hidden"><td>
<input type="hidden" id="templateView" name="templateView" value="true">
</td></tr>
                    
<tr class="hidden"><td>
<input type="hidden" id="selectedParentOptionId" name="selectedParentOptionId" value="$!action.selectedParentOptionId">
</td></tr>
                    
<tr class="hidden"><td>
<input type="hidden" id="addSelectValue" name="addSelectValue" value="true">
</td></tr>
                
	<tr class="buttons-container">
    
        <td class="jiraformfooter">&nbsp;</td>
        <td colspan="1">
    
            <div class="buttons-container">
                <div class="buttons">
                
                
                    <input type="submit" name="Add" value="Add" id="add_submit" accesskey="s" title="Press Alt+s to submit form" class="aui-button ">
                
                
                    <input class="aui-button" type="button" value="Done" onclick="location.href='ConfigureCustomField!default.jspa?customFieldId=$!action.getCustomField().getIdAsLong()'">
                
                
                </div>
            </div>
		</td>
	</tr>

	</tbody></table>

	    	<input type="hidden" name="atl_token" value="${atl_token}">
</form>
         
    </div>
</div>
    </td>
    </tr>
</tbody></table>

<table class="jiraform jirapanel  maxWidth">
<tbody><tr>
    <td class="jiraformheader">
	<tr>
		<td class="instructions">
		<a id="parent" name="parent"></a>
		    <h4 class="formtitle">
        Edit Parent Select Options : </h4>
            <p>
           Manage the parent select list for the custom field. These will be the first level of select in the custom field. The children select list are defined by the Child Select configuration above and the Child Options can be configured by using the Edit parent select list drop down or Configure link. 
            </p>
            <p>HTML (e.g.: &lt;b&gt;My Option&lt;/b&gt;) may be entered in option values. Be sure to 'escape' literal &lt;'s with &amp;lt; and &gt;'s with &amp;gt; (e.g.:&lt;b&gt;Apples &amp;lt; Oranges&lt;/b&gt;)</p>
        <ul class="optionslist">
                <li><a title="Sort options alphabetically" href="EditMultiCascadeSelect!sort.jspa?fieldConfigId=$!action.getFieldConfigId()&amp;atl_token=${atl_token}&amp;selectedParentOptionId=&amp;focus=parent">Sort options alphabetically</a></li>
            <li><a title="View Custom Field Configuration" href="ConfigureCustomField!default.jspa?customFieldId=$!action.getCustomField().getIdAsLong()">View Custom Field Configuration</a></li>
        </ul>
<p>
Choose parent list to edit:
    <select name="" onchange="return loadUri(this.value);">
        <option value="">Edit parent select list</option>
        #foreach ($option in $!action.getRootOptions())
            <option value="$option.optionId" #if ($!action.getSelectedParentOption().getOptionId()==$option.optionId) selected #end >
                $!option.value
            </option>
        #end
    </select>
</p>
        </td>
	</tr>
	<tr>
    <td class="jiraformbody">
    <form name="configureOption" action="EditMultiCascadeSelect!ConfigureOption.jspa" method="post">
    <table class="aui aui-table-rowhover">
        <thead>
            <tr>
                <th width="1%">
                    Position
                </th>
                <th>
                    Option
                </th>
                <th width="1%">
                    Assignee
                </th>
                 #if($!action.getDisplayOptions().size() > 1)
                    <th class="cell-type-collapsed">
                        Order
                    </th>
                    <th class="cell-type-collapsed">
                        Move to Position
                    </th>
                    
                #end
                <th>
                    Operations
                </th>
            </tr>
        </thead>
        <tbody>
            #foreach ($option in $!action.getDisplayOptions())
            <tr class="">
                <td>
                    ${velocityCount}.
                </td>
                <td>
                    <b>$!option.value</b>
                </td>
                <td class="cell-type-collapsed">
                   #if ($!action.getAssignee($!option.optionId)) $!action.getAssignee($!option.optionId).getAssignee()  #else  #end
                </td>
                #if($!action.getDisplayOptions().size() > 1)
                <td class="cell-type-collapsed">
                        #if($!option.getSequence()!=0)
                            <a id="moveToFirst_$!option.optionId" href="EditMultiCascadeSelect!moveToFirst.jspa?fieldConfigId=$!action.getFieldConfigId()&amp;atl_token=${atl_token}&amp;selectedParentOptionId=&amp;selectedValue=$!option.optionId&amp;focus=parent"><img src="/images/icons/arrow_first.gif" border="0" width="16" height="16" title="Move this option to first position"></a>
                            <a id="moveUp_$!option.optionId" href="EditMultiCascadeSelect!moveUp.jspa?fieldConfigId=$!action.getFieldConfigId()&amp;atl_token=${atl_token}&amp;selectedParentOptionId=&amp;selectedValue=$!option.optionId&amp;focus=parent"><img src="/images/icons/arrow_up_blue.gif" border="0" width="16" height="16" title="Move this option up"></a>
                        #end
                        #if($!option.getSequence()+1!=$!action.getDisplayOptions().size())
                            <a id="moveDown_$!option.optionId" href="EditMultiCascadeSelect!moveDown.jspa?fieldConfigId=$!action.getFieldConfigId()&amp;atl_token=${atl_token}&amp;selectedParentOptionId=&amp;selectedValue=$!option.optionId&amp;focus=parent"><img src="/images/icons/arrow_down_blue.gif" border="0" width="16" height="16" title="Move this option down"></a>
                            <a id="moveToLast_$!option.optionId" href="EditMultiCascadeSelect!moveToLast.jspa?fieldConfigId=$!action.getFieldConfigId()&amp;atl_token=${atl_token}&amp;selectedParentOptionId=&amp;selectedValue=$!option.optionId&amp;focus=parent"><img src="/images/icons/arrow_last.gif" border="0" width="16" height="16" title="Move this option to last position"></a>
                    	#end
                </td>
                <td class="cell-type-collapsed">
					<input type="text" name="newOptionPosition_$!option.optionId" size="2" value="">
				</td> 
                #end
                <td class="cell-type-collapsed">
                    <ul class="operations-list">
                        <li><a title="Edit children options for test1" href="EditMultiCascadeSelectChild!default.jspa?fieldConfigId=$!action.getFieldConfigId()&amp;atl_token=${atl_token}&amp;selectedParentOptionId=$!option.optionId&amp;focus=parent">Configure</a></li>
                        <li><a id="edit_$!option.optionId" href="EditMultiCascadeSelectEditOptions!edit.jspa?fieldConfigId=$!action.getFieldConfigId()&amp;atl_token=${atl_token}&amp;value=$!option.value&amp;value=$!option.value&amp;selectedValue=$!option.optionId&amp;focus=parent">Edit</a></li>
                        <li><a id="del_$!option.optionId" href="EditMultiCascadeSelect!remove.jspa?fieldConfigId=$!action.getFieldConfigId()&amp;atl_token=${atl_token}&amp;selectedValue=$!option.optionId&amp;focus=parent">Delete</a></li>
                        #if ($option.disabled)
                            <li><a id="enable_$!option.optionId" href="EditMultiCascadeSelect!enable.jspa?fieldConfigId=$!action.getFieldConfigId()&amp;atl_token=${atl_token}&amp;selectedValue=$!option.optionId&amp;focus=parent">Enable</a></li>
						#else
                        	<li><a id="disable_$!option.optionId" href="EditMultiCascadeSelect!disable.jspa?fieldConfigId=$!action.getFieldConfigId()&amp;atl_token=${atl_token}&amp;selectedValue=$!option.optionId&amp;focus=parent">Disable</a></li>
						#end
                    </ul>
                </td>
            </tr>
            #end
			<tr class="totals">
			#if($!action.getDisplayOptions().size() > 1)
                <td colspan="3">&nbsp;
                    <input type="hidden" name="id" value="">
                </td>
            #else 
            	<td colspan="2">&nbsp;
                </td>
            #end    
            #if($!action.getDisplayOptions().size() > 1)
                    <td colspan="2">
                        <input type="hidden" name="fieldConfigId" value="$!action.getFieldConfigId()">
                        <input type="hidden" name="selectedParentOptionId" value="$!option.getOptionId()">
                        <input type="hidden" name="atl_token" value="${atl_token}">
                        <input type="hidden" name="focus" value="parent">
                        <input class="aui-button" type="submit" name="moveOptionsToPosition" value="Move">
                    </td>
                    
            #else 
            <td colspan="1">&nbsp;
                </td>
            #end  
            </tr>
        </tbody>
    </table>
    </form>
<div class="module">
    <div class="mod-content">
    
<form action="EditMultiCascadeSelect!add.jspa" method="post" name="jiraform" onsubmit="if (this.submitted) return false; this.submitted = true; return true">
	
	<table class="jiraform maxWidth">

	<tbody><tr class="titlerow">
		<td colspan="2" class="jiraformheader">
        
        <h4 class="formtitle">Add New Parent Select Option</h4>
        <p>
            Add a parent will inherit Child Select lists defined above. 
            </p>
        
        </td>
	</tr>

    <tr class="hidden"><td colspan="2"></td></tr>
#if ($action.getErrors().get('addValue'))
      <tr>
		<td class="fieldLabelArea formErrors">&nbsp;</td>
		<td class="fieldValueArea formErrors">
		<span class="errMsg">$textutils.htmlEncode($action.getErrors().get('addValue'))</span>
		</td>
		</tr>  	
	<script language="javascript" type="text/javascript">
	AJS.toInit(function () {
	
	AJS.$("body").scrollTop(AJS.$("#parent").offset().top);
	AJS.$("#parentadd").focus();

	});
	</script>
#end

	<tr>
				<td class="fieldLabelArea #if ($action.getErrors().get('addValue'))formErrors#end">
		Add Value
		</td>
	<td class="fieldValueArea #if ($action.getErrors().get('addValue'))formErrors#end">
<input id="parentadd" type="text" name="addValue" value="$!action.getAddValue()">
	</td>
</tr>
                    
<tr class="hidden"><td>
<input type="hidden" id="fieldConfigId" name="fieldConfigId" value="$!action.getFieldConfigId()">
</td></tr>
                    
<tr class="hidden"><td>
<input type="hidden" id="selectedParentOptionId" name="selectedParentOptionId" value="$!action.selectedParentOptionId">
</td></tr>

                    
<tr class="hidden"><td>
<input type="hidden" id="addSelectValue" name="addSelectValue" value="true">
</td></tr>
                
	<tr class="buttons-container">
    
        <td class="jiraformfooter">&nbsp;</td>
        <td colspan="1">
    
            <div class="buttons-container">
                <div class="buttons">
                
                
                    <input type="submit" name="Add" value="Add" id="add_submit" accesskey="s" title="Press Alt+s to submit form" class="aui-button ">
                
                
                    <input class="aui-button" type="button" value="Done" onclick="location.href='ConfigureCustomField!default.jspa?customFieldId=$!action.getCustomField().getIdAsLong()&amp;focus=parent'">
                
                
                </div>
            </div>
		</td>
	</tr>

	</tbody></table>

	    	<input type="hidden" name="atl_token" value="${atl_token}">
</form>

<script language="javascript" type="text/javascript">
        
        function loadUri(optionId)
        {
            window.location = 'EditMultiCascadeSelectChild!default.jspa?fieldConfigId=$!action.getFieldConfigId()&atl_token=${atl_token}&selectedParentOptionId=' + optionId;
            return true;
        }
    </script>

    </div>
</div>
    </td>
    </tr>
</tbody></table>

<table class="jiraform jirapanel  maxWidth">
<tbody><tr>
    <td class="jiraformheader">
	<tr>
		<td class="instructions">
		<a id="mapping" name="mapping"></a>
		    <h4 class="formtitle"> Mapping : </h4>
            <p> The mapping list defines the order that the mapping will be assessed during the creation of the ticket. Note, new mappings are added to the top, not to the bottom. </p>
        </td>
	</tr>
	<tr>
    <td class="jiraformbody">
    <form name="configureOption" action="EditMultiCascadeSelect!ConfigureOption.jspa" method="post">
    <table class="aui aui-table-rowhover">
        <thead>
            <tr>
                <th width="1%">
                    Position
                </th>
                <th>
                    Option
                </th>
                <th>
                    Assignee
                </th>
                 #if($!action.getMultiCascadeSelectMappings().size() > 1)
                    <th class="cell-type-collapsed">
                        Order
                    </th>
                    
                #end
                <th>
                    Operations
                </th>
            </tr>
        </thead>
        <tbody>
            #foreach ($mapping in $!action.getMultiCascadeSelectMappings())


            <tr class="">
                <td>
                    ${velocityCount}.
                </td>
                <td>
                	#if($!action.getSelectedOption($!mapping.getParentOption()))
                    <b>$!action.getSelectedOption($!mapping.getParentOption()).getParentOption().value - $!action.getSelectedOption($!mapping.getParentOption()).value - </b>  
                    #end
                    <b>$!action.getSelectedOption($!mapping.getOption()).value</b>
                    
                </td>
                <td >
                   $mapping.getAssignee()
                </td>
                #if($!action.getMultiCascadeSelectMappings().size() > 1)
                <td class="cell-type-collapsed">
                        #if($!mapping.getSequence()!=0)
                            <a id="moveToFirstMapping_$!mapping.getID()" href="EditMultiCascadeSelect!moveToFirstMapping.jspa?fieldConfigId=$!action.getFieldConfigId()&amp;atl_token=${atl_token}&amp;selectedParentOptionId=&amp;controllerId=$!mapping.getID()&amp;focus=mapping"><img src="/images/icons/arrow_first.gif" border="0" width="16" height="16" title="Move this option to first position"></a>
                            <a id="moveUpMapping_$!mapping.getID()" href="EditMultiCascadeSelect!moveUpMapping.jspa?fieldConfigId=$!action.getFieldConfigId()&amp;atl_token=${atl_token}&amp;selectedParentOptionId=&amp;controllerId=$!mapping.getID()&amp;focus=mapping"><img src="/images/icons/arrow_up_blue.gif" border="0" width="16" height="16" title="Move this option up"></a>
                        #end
                        #if($!mapping.getSequence()+1!=$!action.getMultiCascadeSelectMappings().size())
                            <a id="moveDownMapping_$!mapping.getID()" href="EditMultiCascadeSelect!moveDownMapping.jspa?fieldConfigId=$!action.getFieldConfigId()&amp;atl_token=${atl_token}&amp;selectedParentOptionId=&amp;controllerId=$!mapping.getID()&amp;focus=mapping"><img src="/images/icons/arrow_down_blue.gif" border="0" width="16" height="16" title="Move this option down"></a>
                            <a id="moveToLastMapping_$!mapping.getID()" href="EditMultiCascadeSelect!moveToLastMapping.jspa?fieldConfigId=$!action.getFieldConfigId()&amp;atl_token=${atl_token}&amp;selectedParentOptionId=&amp;controllerId=$!mapping.getID()&amp;focus=mapping"><img src="/images/icons/arrow_last.gif" border="0" width="16" height="16" title="Move this option to last position"></a>
                    	#end
                </td>
                #end
                
                <td class="cell-type-collapsed">
                    <ul class="operations-list">
                        #if($!action.getSelectedOption($!mapping.getParentOption()))
                        	<li><a id="editMapping_$!mapping.getID()" href="EditMultiCascadeSelectEditChild!edit.jspa?fieldConfigId=$!action.getFieldConfigId()&amp;atl_token=${atl_token}&amp;selectedParentOptionId=$!mapping.getParentOption()&amp;selectedValue=$!mapping.getOption()&amp;grandChildView=false&amp;value=$!action.getSelectedOption($!mapping.getOption()).value&amp;focus=mapping">Edit</a></li>
                        #else
                        	<li><a id="editMapping_$!mapping.getID()" href="EditMultiCascadeSelectEditOptions!edit.jspa?fieldConfigId=$!action.getFieldConfigId()&amp;atl_token=${atl_token}&amp;value=$!action.getSelectedOption($!mapping.getOption()).value&amp;selectedValue=$!mapping.getOption()&amp;focus=mapping">Edit</a></li>
						#end                      
                      </ul>
                </td>

            </tr>

            
            #end
			
        </tbody>
    </table>
    </form>

    </td>
    </tr>
</tbody></table>


<table class="jiraform jirapanel  maxWidth">
<tbody><tr>
    <td class="jiraformheader">
	<tr>
		<td class="instructions">
		<a id="user" name="user"></a>
		    <h4 class="formtitle"> Assignee Mapped Users : </h4>
            <p> The list of users who can create issues that will be mapped to assignees </p>
        </td>
	</tr>
	<tr>
    <td class="jiraformbody">
    <form name="configureOption" action="EditMultiCascadeSelect!ConfigureOption.jspa" method="post">
    <table class="aui aui-table-rowhover">
        <thead>
            <tr>
                <th width="1%">
                    Position
                </th>
                <th>
                    Username
                </th>
                <th>
                    Operations
                </th>
            </tr>
        </thead>
        <tbody>
            #foreach ($user in $!action.getMultiCascadeSelectUsers())


            <tr class="">
                <td>
                    ${velocityCount}.
                </td>
                <td>
                	$user.getUsername()
                </td>
               
                <td class="cell-type-collapsed">
                    <ul class="operations-list">
                        	<li><a id="user_$!user.getID()" href="EditMultiCascadeSelectEditChild!removeUser.jspa?fieldConfigId=$!action.getFieldConfigId()&amp;atl_token=${atl_token}&amp;userId=$!user.getID()&amp;focus=user">Delete</a></li>
                
                      </ul>
                </td>

            </tr>

            
            #end
            
            
			
        </tbody>
    </table>
    </form>
<form action="EditMultiCascadeSelect!addUser.jspa" method="post" name="jiraform" onsubmit="if (this.submitted) return false; this.submitted = true; return true">
	
	<table class="jiraform maxWidth">

	<tbody><tr class="titlerow">
		<td colspan="2" class="jiraformheader">
        
        <h4 class="formtitle">Add New Assignee Mapping User</h4>
        <p>
            Add a new user who can create issues that will be mapped to assignees. 
            </p>
        
        </td>
	</tr>

    <tr class="hidden"><td colspan="2"></td></tr>
#if ($action.getErrors().get('uservalue'))
      <tr>
		<td class="fieldLabelArea formErrors">&nbsp;</td>
		<td class="fieldValueArea formErrors">
		<span class="errMsg">$textutils.htmlEncode($action.getErrors().get('uservalue'))</span>
		</td>
		</tr>  	
	<script language="javascript" type="text/javascript">
	AJS.toInit(function () {
	
	AJS.$("body").scrollTop(AJS.$("#user").offset().top);
	AJS.$("addValueUser").focus();

	});
	</script>
#end

	<tr>
				<td class="fieldLabelArea #if ($action.getErrors().get('uservalue'))formErrors#end">
		Add Value
		</td>
	<td class="fieldValueArea #if ($action.getErrors().get('uservalue'))formErrors#end">

<div class="ajax_autocomplete atlassian-autocomplete" id="addValueUser_container">
    <input type="text" id="addValueUser" name="addValueUser" value="$!action.getAddValueUser()" class="userpickerfield" />
    <a class="popup-trigger" href="#"><img title="Select a user(s)" name="multiuserImage" src="${req.contextPath}/images/icons/filter_public.gif" hspace="0" height="16" width="16" border="0" align="top" /></a>
    <br/><div id="addValueUser_results" class="ajax_results"></div>
</div>


	</td>
</tr>
                    
<tr class="hidden"><td>
<input type="hidden" id="fieldConfigId" name="fieldConfigId" value="$!action.getFieldConfigId()">
</td></tr>
                    
<fieldset rel="myFieldId" class="hidden user-picker-params">
    <input type="hidden" id="formName" value="jiraform">
    <input type="hidden" id="fieldName" value="addValueUser">
    <input type="hidden" id="userPickerEnabled" value="true">
    <input type="hidden" id="multiSelect" value="false">
</fieldset>
                
	<tr class="buttons-container">
    
        <td class="jiraformfooter">&nbsp;</td>
        <td colspan="1">
    
            <div class="buttons-container">
                <div class="buttons">
                
                
                    <input type="submit" name="Add" value="Add" id="add_submit" accesskey="s" title="Press Alt+s to submit form" class="aui-button ">
                
                
                </div>
            </div>
		</td>
	</tr>

	</tbody></table>

	    	<input type="hidden" name="atl_token" value="${atl_token}">
</form>
    </td>
    </tr>
</tbody></table>

</body>
</html>