#enable_html_escaping()
<html>
  <head>
    <title>Edit Multi Cascade Select Options</title>
    <meta name="decorator" content="atl.admin">
    <meta name="fieldconfigid" content="$!action.getFieldConfigId()">
        
    $!webResourceManager.requireResource("com.dionetechnology.jira.plugins.multicascadeselect:multicascadeselect-resources")
  </head>
  
<body>
<form action="EditMultiCascadeSelect!remove.jspa" method="post" name="jiraform" onsubmit="if (this.submitted) return false; this.submitted = true; return true">

	<table class="jiraform maxWidth">

	<tbody><tr class="titlerow">
		<td colspan="2" class="jiraformheader">
        
        <h3 class="formtitle">Delete Option for Custom Field :  $!action.value
    </h3>
        </td>
	</tr>
	<tr class="descriptionrow">
		<td colspan="2" class="jiraformheader">
            <div class="desc-wrap">
        <p>
            Confirm that you want to delete this custom field option <strong>$!action.value</strong> for parent option <strong>$!action.getSelectedParentOption().getValue()</strong>.

        </p>
        <p><font color="#990000">Note</font>: Deleting a custom field option removes all matching values from all issues.</p>

	</div>
        </td>
	</tr>
    <tr class="hidden"><td colspan="2"></td></tr>
	<tr>
				<td class="fieldLabelArea">

		Issues with this value

		</td>
	<td class="fieldValueArea">
<span id="affectedIssues/size">$!action.getAffectedIssues().size()</span>

<div class="fieldDescription">
        Issues:
        
        </div>
	</td>

</tr>
<tr class="hidden"><td>
<input type="hidden" id="fieldConfigId" name="fieldConfigId" value="$!action.getFieldConfigId()">
</td></tr>
<tr class="hidden"><td>



<input type="hidden" id="selectedParentOptionId" name="selectedParentOptionId" value="$!action.getSelectedParentOptionId()">

</td></tr>

	
<tr class="hidden"><td>

<input type="hidden" id="parentView" name="parentView" value="true">

</td></tr>

<tr class="hidden"><td>



<input type="hidden" id="selectedValue" name="selectedValue" value="$!action.selectedValue">

</td></tr>

    

<tr class="hidden"><td>
<input type="hidden" id="focus" name="focus" value="parent">

</td></tr>
<tr class="hidden"><td>



<input type="hidden" id="confirm" name="confirm" value="true">

</td></tr>





	<tr class="buttons-container">
    
        <td class="jiraformfooter">&nbsp;</td>
        <td colspan="1">
    
            <div class="buttons-container">
                <div class="buttons">
                

                
                    <input type="submit" name="Delete" value="Delete" id="delete_submit" accesskey="s" title="Press Alt+s to submit form" class="aui-button ">
                

                

                
                    <a href="EditMultiCascadeSelect!default.jspa?fieldConfigId=$!action.getFieldConfigId()&amp;atl_token=${atl_token}&amp;selectedParentOptionId=$!action.selectedParentOptionId" id="cancelButton" class="aui-button aui-button-link" accesskey="`" title="Cancel (Alt + `)" name="EditCustomFieldOptions!default.jspa?fieldConfigId=10300&amp;atl_token=B1LL-AH04-CEXB-IWTF%7C462708c8532a3e97cb81607bd383f8f9ce92f98c%7Clin&amp;selectedParentOptionId=10100">Cancel
                    </a>
                
                </div>
            </div>
		</td>
	</tr>

    

        
    
	</tbody></table>
	


    

<input type="hidden" name="atl_token" value="${atl_token}">

</form>

</body>
</html>