


#if ($value.get("0"))

	#if($issue)
		#set($values = $mlcscftype.getValueFromIssue($customField,$issue))
	#end
    $cfValueEncoder.encodeForHtml($values.get("0"))
    
    #if ($values.size()>1)
    	#set($length = ($values.size()- 1))
    	
    	#if ($mlcscftype.getChildValueFromIssue($customField,$issue))
    	    #set($j = 1)
			#foreach($rootoption in $mlcscftype.getChildValueFromIssue($customField,$issue))
				<br/>
				#if ($value.get($j.toString()))
					<span style="display:inline-block; width:10px;padding-top:3px;padding-bottom:1px;"></span>$prefix $cfValueEncoder.encodeForHtml($value.get($j.toString()))
				#end
				#set($j = $j + 1)
			#end
		#end
    	
	#end
#end

<script language="javascript" type="text/javascript">

multicascadechildren = function () {
	AJS.$(".type-multi-cascade-select").each( function() {
		
		
		var children = "";
		var nodefaultvalue = true;
		AJS.$(".fieldLabelArea").each( function() {
		
			if(AJS.$(this).text()=="Default Value:")
			{
				nodefaultvalue = false;
			}
		
		
		});
		if(nodefaultvalue) {
		#if ($mlcscftype.getChildValueFromIssue($customField,$issue))
			#foreach($rootoption in $mlcscftype.getChildValueFromIssue($customField,$issue))
				children = children + "<br/><strong title='$cfValueEncoder.encodeForHtml($rootoption.getCustomValue())' class='name' style='padding-left:10px'>$cfValueEncoder.encodeForHtml($rootoption.getCustomValue()):</strong>";
			#end
		#end
		var parent = AJS.$(this).parent().children().first().html();
		var parentstring = "<strong title='$cfValueEncoder.encodeForHtml($customField.name):' class='name'>$cfValueEncoder.encodeForHtml($customField.name):</strong>";
		AJS.$('#${customField.id}-val').parent().children().first().remove();
		var label = "<div style='display:block;float:left'>" + parentstring + children + "</div>";
		AJS.$('#${customField.id}-val').parent().prepend(label);
		}
		
	});
	
	AJS.$(".fieldLabelArea").each( function() {
		
		if(AJS.$(this).text()=="Default Value:")
		{
			AJS.$(this).parent().remove();
		}
		
		
	});
};
	
AJS.toInit(function(){
	multicascadechildren();
});

JIRA.bind(JIRA.Events.NEW_CONTENT_ADDED, function (e, context) {
multicascadechildren();
});
</script>
