##disable_html_escaping() TODO REENABLE
#if (!$request || !$request.getAttribute("cascade"))
    $!request.setAttribute("cascade" , "true")
#end

#if($issue)
	#set($values = $mlcscftype.getValueFromIssue($customField,$issue))
#end
#if($issue)
	#set($childvalues = $mlcscftype.getChildValueFromIssue($customField,$issue))
#end
$!{auiparams.put("controlHeaderClass", "aui-field-multicascadeselect")}
#customControlHeader ($action $customField.id $customField.name $fieldLayoutItem.required $displayParameters $auiparams)

#if($values.get("0"))
	#set ($selectedParent = $values.get("0"))
#end
    
    <select #if ($fieldLayoutItem.required==true) data-required="true" #else data-required="false"  #end class="select parent-multi-cascade-select" id="${customField.id}" name="${customField.id}">
        <option class="default-option" value="-1">$i18n.getText("common.words.pleaseselect")</option>
        #if ($fieldLayoutItem.required==false)
        <option class="default-option" value="-1">$i18n.getText("common.words.none")</option>
        #end
        #foreach ($option in $configs.options.rootOptions)
            #if(!$option.disabled || $option.disabled == false || ($selectedParent && $selectedParent == $option.optionId.toString()))
                <option class="option-group-$option.optionId" value="$option.optionId"#if ($selectedParent && $selectedParent == $option.value) selected="selected"#end>$cfValueEncoder.encodeForHtml($option.value)</option>
            #end
        #end
    </select>
    #foreach ($parentoption in $configs.options.rootOptions)

    	#set($sorted = $mlcscftype.getSortedChildOptions($parentoption))

    	#set($start = 0)
		#set($end = $sorted.size() - 1)
		#set($range = [$start..$end])
		#foreach($i in $range)
			
		    #set($j = $i + 1)
    		#set($selectedGrandChild = $values.get("$j"))	
    		#set($required = $mlcscftype.getRequired($customField,$issue, $sorted.get("$i").getValue()))

			<div class="child-multi-cascade-select-vis child-multi-cascade-select-vis-$parentoption.optionId" #if ($selectedParent && $selectedParent == $parentoption.value) #else style="display:none" #end>
			<div class="child-multi-cascade-select-div">
    	    <label for="child-multi-cascade-select-$parentoption.optionId">$cfValueEncoder.encodeForHtml($sorted.get("$i").getValue())  #if ($required==true && $fieldLayoutItem.required==true) <span class="aui-icon icon-required">Required</span> #end </label>
	    	<select #if ($required==true) data-required="true" #else data-required="false"  #end class="select child-multi-cascade-select child-multi-cascade-select-$parentoption.optionId" #if ($selectedParent && $selectedParent == $parentoption.value) #else disabled="disabled" #end id="${customField.id}:$j" name="${customField.id}:$j">
				<option class="grandchild-option-multi-cascade" value="-1">$i18n.getText("common.words.pleaseselect")</option>
				#if ($required==false)
	        	<option class="grandchild-option-multi-cascade" value="-1">$i18n.getText("common.words.none")</option>    
	        	#end
					#foreach ($grandchildrenOption in $sorted.get("$i").getChildOptions())
	                	#if(!$grandchildrenOption.disabled || $grandchildrenOption.disabled == false)
	                    	<option class="grandchild-option-multi-cascade" value="$grandchildrenOption.optionId"#if ($selectedGrandChild && $selectedGrandChild == $grandchildrenOption.value) selected="selected"#end>$cfValueEncoder.encodeForHtml($grandchildrenOption.value)</option>
	                	#end
	            	#end
	        </select>
	        </div>
	        </div>
    	#end
    #end
#customControlFooter ($action $customField.id $fieldLayoutItem.fieldDescription $displayParameters $auiparams)   
$!{auiparams.clear()}

